body{
    direction: rtl;
}
.full-grid{
    min-width: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 1fr 50vh;
    grid-template-areas: "header" "main" "footer";
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}